[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
yapf = "*"
flake8-docstrings = "*"
isort = "*"

[packages]
numpy = "*"
matplotlib = "*"
requests = "*"
tqdm = "*"

[requires]
python_version = "3.8"
